@charset "utf-8";
/* 외부CSS 파일은 반드시 상단 맨위에 문자셋 인코딩 세팅을 해야함
@charset "utf-8"; 은 2byte 문자까지 문제없이 인코딩해주는 형식 */

.bxc {
    width: 727px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

.fc {
    color: skyblue;
    text-shadow: .5px .2px 1px rgb(99, 93, 93);
}

.fu {
    text-decoration: underline;
    text-decoration-style: dotted;
}

/* 1. 상단영역  */
header {
    /* 블록박스 세팅 */
    width: 727px;
    /* height: 200px; */
    border: 1px solid silver;
    padding: 10px;
    margin: 20px auto;
    /* 블록박스 중앙정렬
                    margin: 0 auto;
                    마영오
                    margin: 값 (4방향)
                    margin: 값 값; (위아래 양쪽)
                    margin: 값 값 값; (위 양쪽 아래)
                    margin: 값 값 값 값: (위 오른 아래 왼)
                
                    개별설정은
                    margin-top, margin-bottom
                    margin-left, margin-right
                    
                    -> padding 도 동일함

                */
    /* 
                    width나 height크기를 안주면 기본값 auto
                    블록박스인 경우 width는 부모끝까지 차지
                    height는 내용만큼 늘어남
                */
    /* 내부의 텍스트/인라인 요소 중앙정렬 */
    text-align: center;

    /* 배경색 주기 */
    background-color: #172943;

    /* 보더, 패딩 사이즈 내부에 포함시키기 */
    box-sizing: border-box;
    /* 기본값은 content-box */
}

/* 띄어쓰기는 자손 선택자 */
/* ID가 TOP인 요소의 자손 중 h1 선택 */
#top h1 {
    /* 글자색 */
    color: white;
    text-shadow: 2px 2px 2px #777;
}

/* 메뉴 */
.gnb a {
    color: white;
    /* 밑줄없앰 */
    text-decoration: none;
    /* 젠tdn */
    /* 
                    text-decoration 속성
                    - underline 밑줄
                    - overline 윗줄
                    - linethrough 중간줄
                    - none 없음
                 */
    /* 글자 두껍게 */
    font-weight: bold;
    /* fwb */
    /* 100~900 (폰트가 지원해야함) */
}

/* 메뉴 a에 마우스 오버시 */
/* 선택자:hover -> 마우스 오버시 가상 class */
.gnb>a:hover {
    text-decoration: overline;
    /* 밋tdo */
}

/* 로고이미지 */
/* nav 태그인데 class가 gnb인 요소 아래 자손중 img 요소 선택 */
nav.gnb img {
    /* 인라인요소가 세로정렬 */
    vertical-align: -5px;
    /* va */
    /* 값은 수치로 줄 수 있고
                top, middle, bottom, baseline 등 이 있음 */
    border: none; /* 보더없앰 */
    /* 이미지에 링크가 걸린경우 파란색 테두리가 서버에 올린 후 보일 수 있다 */
}

/* 하단주석 */

footer#info address {
    background-color: #ccc;
    padding: 20px;
    font-style: normal;
    font-size: 13px;
    color: #292929;
    /* 글자크기 - 기본크기 16px
                12pt=16px */
    line-height: auto;
}

footer#info span {
    font-style: italic;
}