@charset "utf-8";
/* 서브페이지 CSS - sub.css */

/* 공통class 불러오기 */
/* import 로 file 합치기
    외부 css파일에서 다른 외부 css를
    import 방식으로 불러올때 장점은
    랜더링 속도 더뎌짐을 방지가능 */
@import url(style.css);

/* 메인 전체박스 */
#cont{
    text-align: left;
    /* .bxc에서 중앙정렬값 덮어쓰기. 왼쪽정렬로 */
}
/* 기사제목 */
.atit{
    font-size: 30px;
    font-weight: normal;
    font-family: "맑은 고딕";
    letter-spacing: -2px;
    word-spacing: 3px;
    white-space: nowrap;
    margin-top: 0px;
}
.afig{
    margin: 15px 0;
}
.afig img{
    width: 100%;
}
.afig figcaption{
    text-align: center;
    line-height: 16px;
    padding-bottom: 30px;
}
.afig small{
    color: #666666;
    font-family: 굴림;
    font-size: 12px;
}
.tuin{
    color: #777;
    font-family: 돋움;
    font-weight: 500;
}
.arti{
    font-family: 굴림;
    font-size: 17px;
    line-height: 18px;
}
.bbox{
    border: 1px solid #96aeeb;    
    box-sizing: border-box;
    padding: 20px 30px;
}
div>h4{
    margin-top: 0px;
    margin-bottom: 10px;

}
.topme{
    margin-bottom: 40px;
}