@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@400;900&display=swap');
/* font-family: 'Smooch Sans', sans-serif; */

html,
body {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(231, 231, 231) no-repeat fixed top/cover;
    overflow-x: hidden;
}

body * {
    outlne: 2px dashed lime;
}

ul,
ol {
    list-style: none;
}

html {
    font-size: 10px;
}

/* 공통박스속성 */
.box {
    border: 2px solid #000;
    font-family: 'Smooch Sans', sans-serif;
}

.head {
    position: relative;
    display: block;
    width: min(50%, 400px);
    background-color: rgb(194, 64, 88);
    line-height: 45px;
    height: 100px;
    font-size: 60px;
    font-weight: 900;
    text-align: left;
    padding: 20px;
}

.rbox1 {
    position: absolute;
    display: block;
    width: 80%;
    height: 90px;
    background-color: rgb(9, 95, 42);
    top: -2px;
    left: 200px;
}

.rbox2 {
    position: absolute;
    display: block;
    width: 110%;
    height: 40px;
    background-color: rgb(240, 127, 51);
    top: -2px;
    left: 100px;
    font-size: 35px;
    font-weight: normal;
    text-align: center;
    z-index: 1;

}

.menu {
    text-align: right;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin-right: 20px;

}

.menu:hover a {
    color: rgb(88, 34, 34);
    animation: menuAni .3s ease-in-out .3s forwards;
}

@keyframes menuAni {
    100% {
        margin-right: 80px;
    }
}


.side {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 15%;
    height: 40px;
    background-color: rgb(240, 127, 51);
}

.side2 {
    display: block;
    position: absolute;
    right: 0;
    top: 42px;
    width: 40%;
    height: 300px;
    background-color: rgb(240, 127, 51);
    z-index: -1;
}

.smenu a {
    font-size: 24px;
    line-height: 30px;
    color: #222;
    text-decoration: none;
}
.smenu{
    position: relative;
    border: 2px solid #000;
    background-color: rgb(240, 127, 51);
    top: -4px;
    left: -2px;
    width: 100%;
}
#tmenu{
    text-decoration: none;
    color: black;
}